* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* style here */

.container {
    width: 100%;
    height: 100vh;
    
}
.container nav {
    position: absolute;
    width: 100%;
    top:0;
    height: 60px;
    background-color: #1c2833 ;
    color:white;
}
nav .webname {
    float: left;
    margin: 15px 0px 15px 30px;
    font-size: 30px;
}

nav ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 600px;
}
nav li {
    display: inline-block;
    line-height: 56px;
    margin: 0 25px;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

a:hover {
    color:hsl(110, 92%, 47%);
    border-bottom: 2px solid hsl(110, 92%, 47%);
}

#search {
    position: relative;
    margin-top: 10px;
    padding: 5px 10px 5px 20px;
    width: 250px;
    height: 40px;
    border-bottom: 2px solid #3498db;
    font-size: 15px;
    color: #3498db;
    border-radius: 50px;
    align-items: center;
    float: right;
    z-index: 0;
}

#submit {
    position: relative;
    left: -40px;
    margin-top:  10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    float: right;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    z-index: 1;
    border-color: #1c2833;
}

#btn{
    display: none;
}
.check {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    transform: rotate(-90deg);
    display: none;
}

@media(max-width: 1100px) {
    nav ul{
        position: fixed;
        width: 40%;
        height: 100vh;
        top:60px;
        left:100%;
        text-align: center;
        background-color: #2c3e50;
        transition: all 1s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
        color: white;
    }
    .check {
        display: block;
    }
    #btn:checked ~ ul{
        left:60%
    }
}

